html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

.container {
  padding-top: 0;

}

body {
  background: black;
  border: 0px solid black;
}
.toolbar__toggle-button{
  position: sticky;
  top: 0;
  right: 0;
  padding: 10px;
  z-index:5;
}
