html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}


body{
background: cornflowerblue;
}
#inventoryImage {
    width: 200px;
    height: 200px;
}
#inventoryWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}