.salepostcontainer {
    text-align: center; 
}

.salepost {
    position: relative;
    background: rgb(211, 211, 211, .6);
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    
}

.salepost:hover {
    background: transparent;
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211, .6);
    
}

a {
    text-decoration: none;
    color: black;
}