html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}



#container1 {
color: white;
height: 500px;





}
.loginResponse {
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;
}

.input {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: white;
}


.inputbox{
    width: 300px;
    background:white;
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;
    margin: auto;
    font-size: 20px;

}
    


label{
    
margin-top: 20px;
color:black;
transition: all 0.3s ease;
border-color: #2d8cf0;
justify-content: center;
margin-left: 10px;
}


h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 125%;
    
   
}

.title {
    width: 200px;
    margin: auto;
    text-align: center;
    
}

#submitButton{
    width:100px;
    margin: auto;
    text-align: center;
    border: 1px solid lightgray;
}

.submit {
    width: 250px;
    margin: auto;
    text-align: center;
    color: white;
}

.registerline{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.clickreg{
    color: rgb(33, 157, 223);
    margin-left: 5px;
}

.log{
    position: absolute;
    top: 10px;
    right: 10px;
   
}